.content {
    background: #F9F9F9;
}

.detail-form {
    margin: 60px auto;
    width: 60%;
    height: auto;
    padding: 18px;
    background: #FFFFFF;
}

.detail-form__inner {
    width: 100%;
    position: relative;
}

.detail-form__form {
    width: 100%;
}

.detail-form__group {
    margin: 32px auto 0;
}

.detail-form__label {
    display: block;
    margin-bottom: 2px;
    font-weight: 300;
    font-size: 16px;
}

.detail-form__input-group {
    display: flex;
    justify-content: flex-start;
    /* 左寄せでOK */
    align-items: baseline;
    gap: 8px;
    /* inputとunitの間に隙間 */
}

.detail-form__input {
    display: block;
    width: 100%;
    height: 43px;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
}

.unit {
    display: block;
    white-space: nowrap;
    /* 改行させない */
}

.detail-form__textarea {
    width: 100%;
    border: 1px solid #E0DFDE;
    border-radius: 5px;
}

.detail-action {
    display: flex;
    justify-content: center;
    /* 戻る＋登録を中央揃え */
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.detail-form__close-btn {
    display: inline-block;
    padding: 8px 60px;
    background-color: #E0DFDE;
    color: #333333;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.detail-form__store-btn {
    padding: 8px 60px;
}

/* 削除ボタンを右端に固定 */
.btn-delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
}

.error {
    color: red;
}